<% include layout/header %>
<table class="page">
  <tr>
    <td>
      <h1>Contacts</h1>
      <div class="contact-list">
        <% contacts.forEach(function(contact){ %>
          <div>
            <%= contact.name %>
          </div>
          <% }) %>
      </div>
    </td>
  </tr>
</table>
<% include layout/footer %>
