<% include layout/header %>
<table class="page">
  <tr>
    <td>
      <h1>Contacts</h1>
      <br>
      <div class="contact-list">
        <% contacts.forEach(function(contacts){ %>
          <div>
            <%- link_to(contacts.name, "contacts/" + contacts.id) %>
            <div class="delete">
              <a href="#" onclick="deleteContact(callback, <%-contacts.id %>);return false;" class="delete">X</a>
            </div>
          </div>
          <br>
          <% }) %>
      </div>
    </td>
  </tr>
</table>
<% include layout/footer %>
