<% include layout/header %>
<table class="page">
  <tr>
    <td>
      <h1>Contacts</h1>
      <br>
      <div class="contact-list">
        <% contacts.forEach(function(contacts){ %>
        <div>
          <%- link_to(contacts.name, "contacts/" + contacts.id) %>
          <div class="delete">
            <form action="/contacts/<%= contacts.id %>" method="DELETE" class="deleteForm">
            <a href="javascript:{}" onclick="document.querySelector('.deleteForm').submit(); return false" class="delete">X</a>
            </form>
          </div>
        </div>
        <br>
        <% }) %>
      </div>
    </td>
  </tr>
</table>
<% include layout/footer %>
