<% var g = 0 %>
  <% g++ %>
<img src="<%= albumsSorted.img %>" class="col-sm-3">
<li class="album">
  <%- link_to(albumsSorted.title, "albums/" + albumsSorted.id) %>
</li>
<div class="item row">
  <div class="column">
    <div class="row artist">
      <p>Artist:
      </p>
    </div>
  </div>
</div>
