<% include layout/header %>
  <h1>Contacts</h1>

  <div class="contact-list">
    <% contacts.forEach(function(contact){ %>
      <div>
        <%= contact.name %>
      </div>
    <% }) %>
  </div>

<% include layout/footer %>
