html {
  background-color: #50E3C2;
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

* {
  color: #4A4A4A;
  font-family: "monaco", monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 5px;
  padding: 5px;
}

.contact {
  line-height: 2em;
}

.default {
  float: right;
  text-align: right;
  width: 70%;
}

.header {
  background-color: #4990E2;
  color: white;
  height: 7vh;
  padding: 15px;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
}

.headerNew {
  margin-right: 230px;
}
.newButton {
  background-color: #4990E2;
  border-radius: 10px;
  color: white;
  float: right;
  margin-right: 110px;
  padding: 20px;
}

.page {
  height: 93vh;
  padding: 15px;
  line-height: 35px;
  width: 100%;
}

.page a {
  color: #002653;
  float: left;
  text-decoration: none;
}

.secondary {
  color: #9B9B9B;
  float: left;
  width: 15%;
}

.secondaryNew {
  color: #9B9B9B;
  display: inline-block;
  text-align: right;
  width: 25%;
}

.secondarySearch {
  color: #9B9B9B;
  float: left;
}

.tertiary {
  width: 15%;
}

.wholepage {
  background-color: white;
  margin: 0 auto;
  min-height: 100vh;
  width: 50%;
}

.delete a {
  color: #D0011B;
  float: right;
}

.newInput {
  margin: 10px;
  align-self: right;
  width: 55%;
}

.newInputAddress {
  margin: 10px;
  align-self: right;
  width: 55%;
  padding-bottom: 100px;
}
